[common]
log_interval = 200
wifi_channel = 104
                       # 1 -- radio channel @2412 Mhz,
                       # see https://en.wikipedia.org/wiki/List_of_WLAN_channels for reference
wifi_region = 'US'     # Your country for CRDA (use BO or GY if you want max tx power)



[cluster]

nodes = {
          # required host attrs: 'wlans'
          # optional host attrs (will override defaults):
          #           'ssh', 'server_address', 'wifi_txpower',

          #           'custom_init_script'
          #
          # If ssh_user or ssh_port is set to None then node will not be automatically initialized in ssh mode.
          # If ssh_key is None, then ssh_agent will be used.

          # Local cards (use driver-default txpower settings):
          '127.0.0.1': { 'wlans': ['wlx200db0c4a76a'], 'wifi_txpower': {'wlx200db0c4a76a': None}, 'server_address': '127.0.0.1' },

          # Remote cards:
          '192.168.2.30' : { 'wlans': ['phy1-wfb'], 'wifi_txpower': 'off'},    # rx-only node
          '192.168.2.31' : { 'wlans': ['phy1-wfb'], 'wifi_txpower': None},     # rx/tx node
        }

# Cluster init can be auto (--cluster ssh) or manual (--cluster manual)
# In second case you need to generate node setup scripts via (--gen-init)
# and run them on cluster nodes yourself

ssh_user = 'root'
ssh_port = 22
ssh_key = None            # Path to ssh private key. If None then it will try to use ssh-agent
custom_init_script = None # Do some custom command inside of node init script before wfb-ng start
                          # You can specify any bash snippet here

server_address = '192.168.2.20'     # Set to IP address which is reachable from all cluster nodes
                          # For local cards need to override it to 127.0.0.1 in the node attributes!

base_port_server = 10000  # UDP ports allocated on server
base_port_node = 11000    # UDP ports allocated on nodes


[gs]
streams = [{'name': 'video',   'stream_rx': 0x00, 'stream_tx': None, 'service_type': 'udp_direct_rx',  'profiles': ['base', 'gs_base', 'video', 'gs_video']},
           {'name': 'mavlink', 'stream_rx': 0x10, 'stream_tx': 0x90, 'service_type': 'mavlink', 'profiles': ['base', 'gs_base', 'mavlink', 'gs_mavlink']},
           {'name': 'tunnel',  'stream_rx': 0x20, 'stream_tx': 0xa0, 'service_type': 'tunnel',  'profiles': ['base', 'gs_base', 'tunnel', 'gs_tunnel']}
           ]


[gs_mavlink]
peer = 'connect://127.0.0.1:14550'  # outgoing connection
# peer = 'listen://0.0.0.0:14550'   # incoming connection
# osd = 'connect://127.0.0.1:14551' # mirroring mavlink packets to OSD

[gs_video]
#peer = 'connect://127.0.0.1:5600'  # outgoing connection for
                                   # video sink (QGroundControl on GS)
peer = 'connect_unix://@/run/wfb_video.sock'            #

[tunnel]
ldpc = 0
frame_type = 'rts'
